<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--
    核心配置文件中，标签的顺序是有强制要求的
    properties?,settings?,typeAliases?,typeHandlers?,objectFactory?,objectWrapperFactory?,reflectorFactory?,plugins?,environments?,databaseIdProvider?,mappers?
    -->

    <properties resource="jdbc.properties"/>

    <settings>
        <!--设置下划线自动转为驼峰-->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="LOG4J"/>
        <!--开启延迟加载-->
        <setting name="lazyLoadingEnabled" value="true"/>
    </settings>

    <typeAliases>
        <!--
        typeAliases: 设置某个类型的别名
            属性：
                type: 设置别名的类型
                alias：设置别名的类型的名称，若不设置该属性，那么该类型拥有默认的别名，即类名，且不区分大小写
        -->
        <!--<typeAlias type="com.muzimin.pojo.User" alias="User"/>-->
        <!--以包为单位，将包下面所有的类型设置默认的类型别名，即包下的类名，且不区分大小写-->
        <!--<package name="com.muzimin"/>-->

        <typeAlias type="com.muzimin.reverse.entity.EmpExample" alias="empE"/>
        <typeAlias type="com.muzimin.reverse.entity.DeptExample" alias="deptE"/>
        <typeAlias type="com.muzimin.reverse.entity.Dept" alias="deptB"/>
        <typeAlias type="com.muzimin.reverse.entity.Emp" alias="empB"/>
        <typeAlias type="com.muzimin.reverse.entity.UserExample" alias="userE"/>
        <typeAlias type="com.muzimin.reverse.entity.User" alias="userB"/>
        <typeAlias type="com.muzimin.pojo.Dept" alias="dept"/>
        <typeAlias type="com.muzimin.pojo.Emp" alias="emp"/>
        <typeAlias type="com.muzimin.pojo.User" alias="user"/>
    </typeAliases>

    <!--
    environments ：配置多个数据库的环境
        属性（default）: 默认使用的环境的ID
    -->
    <!--数据库的环境信息-->
    <environments default="development">
        <!--
        environment：配置具体的环境信息
            属性（id）:表示连接数据库环境的唯一标识，不能重复
        -->
        <environment id="development">
            <!--
            transactionManager：设置事务的管理方式
            属性（type）：
                JDBC：标识当前环境中，执行SQL时，使用的是JDBC中原生的事务管理方式，事务的提交需要手动处理
                MANAGED：被管理，比如Spring
            -->
            <transactionManager type="JDBC"/>
            <!--
            dataSource：配置数据源
                属性（type）：设置数据源的类型
                    POOLED：表示使用数据库连接池缓存数据库连接
                    UNPOOLED：表示不实用数据库连接池
                    JNDI：表示使用上下文中的数据源
            -->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <!--引入映射文件-->
    <mappers>
        <!--<mapper resource="mapper/UserMapper.xml"/>-->
        <!--
            以包为单位引入映射文件
                要求
                    1. mapper接口所在的包要和映射文件所在包保持一致
                    2. mapper接口要和映射文件的名字一致
        -->
        <package name="com.muzimin.mapper"/>
        <package name="com.muzimin.reverse.mapper"/>
    </mappers>
</configuration>