env {
  parallelism = 1
  job.mode = "BATCH"
}

source {
  Jdbc {
      url = "jdbc:mysql://localhost/muzimin"
      driver = "com.mysql.cj.jdbc.Driver"
      connection_check_timeout_sec = 100
      user = "root"
      password = "123456"
      query = "select * from check_data where etl_date >= '"${dt}"'"
  }
}

sink {
  Console {}
}
