env {
  parallelism = 4
  job.mode = "BATCH"
}
source {
  StarRocks {
    nodeUrls = ["${IP}:9030"]
    username = "root"
    password = "${password}"
    database = "warehouse_test"
    table = "ods_t_org_admin"
    schema {
      fields {
        fid = string
        fname_l1 = string
        fname_l2 = string
        fname_l3 = string
        fnumber = string
        fdescription_l1 = string
        fdescription_l2 = string
        fdescription_l3 = string
        fsimplename = string
        fisgrouping = string
        feffectdate = string
        finvaliddate = string
        fisfreeze = string
        fiscompanyorgunit = string
        fisadminorgunit = string
        fissaleorgunit = string
        fispurchaseorgunit = string
        fisstorageorgunit = string
        fisprofitorgunit = string
        fiscostorgunit = string
        fiscu = string
        fisunion = string
        fishrorgunit = string
        fcreatorid = string
        fcreatetime = string
        flastupdateuserid = string
        flastupdatetime = string
        fcontrolunitid = string
        fisleaf = string
        flevel = string
        flongnumber = string
        fparentid = string
        fisentity = string
        fisvirtual = string
        fphonenumber = string
        flayerid = string
        fresponpositionid = string
        faddressid = string
        fprincipalid = string
        flayertypeid = string
        fbaseduty_l1 = string
        fbaseduty_l2 = string
        fbaseduty_l3 = string
        findex = string
        fjobsystemid = string
        fadminaddress_l1 = string
        fadminaddress_l2 = string
        fadminaddress_l3 = string
        fzipcode = string
        ffax = string
        fissealup = string
        fisstart = string
        fisousealup = string
        fdisplayname_l1 = string
        fdisplayname_l2 = string
        fdisplayname_l3 = string
        fpropertysealupdate = string
        fversionnumber = string
        fcode = string
        fistransportorgunit = string
        fisqualityorgunit = string
        fsortcode = string
        findustryid = string
        feconomictype = string
        fregisteredcapital = string
        fregisteredcode = string
        fsetupdate = string
        fendupdate = string
        ftaxnumber = string
        fischurchyard = string
        fjuridicalpersonid = string
        fisjuridicalcompany = string
        fisindependence = string
        fterritory_l1 = string
        fterritory_l2 = string
        fterritory_l3 = string
        forgcode = string
        fareaid = string
        forgpropertyid = string
        fregisttypeid = string
        feffdt = string
        fleffdt = string
        fhistoryrelateid = string
        fdelegatehrid = string
        forgfunctionid = string
        fcompanyid = string
        fdepartmentid = string
        fofficeid = string
        flevelfourgroupid = string
        flevelfivegroupid = string
        flevelfivegroup = string
        flevelsixgroupid = string
        freservefieldfirst = string
        freservefieldsecond = string
        freserveitemfirst = string
        freserveitemsecond = string
        fisstartshr = string
        forgtypestr = string
        flevelonegroupid = string
        fleveltwogroupid = string
      }
    }
  }
}
sink {
    Console {}
}