## 该模块在Seatunnel不支持了
env {
  parallelism = 2
  job.mode = "BATCH"
}
source{
    Hive {
        url = "jdbc:hive2://${IP}:10000/ods"
        driver = "org.apache.hive.jdbc.HiveDriver"
        connection_check_timeout_sec = 100
        query = "select * from ods_trade_mysql_contract_i1d limit 10"
    }
}

sink {
    Console {}
}