env {
  parallelism = 4
  job.mode = "BATCH"
}
source{
    Jdbc {
        url = "jdbc:oracle:thin:@${IP}:1521/hrtest"
        driver = "oracle.jdbc.OracleDriver"
        user = "JTCS"
        password = "${password}"
        query = "SELECT * FROM SHR0309.T_ORG_ADMIN where rownum < 1000"
    }
}

sink {
    Console {}
}