env {
  parallelism = 10
  job.mode = "BATCH"
}
source {
    Jdbc {
        url = "jdbc:mysql://${IP}:3306/metastore"
        driver = "com.mysql.cj.jdbc.Driver"
        connection_check_timeout_sec = 100
        user = "root"
        password = "${password}"
        query = "select * from DBS"
        partition_column = "DB_ID"
        split.size = 10000
    }
}

sink {
  Console {}
}