env {
  parallelism = 4
  job.mode = "BATCH"
}
source{
    Jdbc {
        url = "jdbc:oracle:thin:@10.99.182.105:1521/qmysdb"
        driver = "oracle.jdbc.OracleDriver"
        user = "platform"
        password = "platform"
        query = "SELECT nvl(code,'') as code,nvl(rowindex,'') as rowindex,nvl(sheetid,'') as sheetid,nvl(colindex,'') as colindex,nvl(dformat,'') as dformat,nvl(pvalue,'') as pvalue,nvl(remark,'') as remark,nvl(formula,'') as formula,nvl(cellname,'') as cellname FROM PLATFORM.WEB_RPT_FORMAT_DATA"
    }
}

sink {
  StarRocks {
    nodeUrls = ["10.99.180.171:9030"]
    base-url = "jdbc:mysql://10.99.180.171:9030/warehouse_test"
    username = root
    password = "trxx_2024."
    database = "warehouse_test"
    table = "ods_web_rpt_format_data_muzimin"
    batch_max_rows = 10
  }
}