env {
  parallelism = 1
  job.mode = "BATCH"
}
source {
  HdfsFile {
    schema {
      fields {
        name = string
        age = int
      }
    }
    path = "/user/bdp-dwh/seatunnel-test/data/student"
    file_format_type = "json"
    fs.defaultFS = "hdfs://master1:8020"
  }
}

sink {
    HdfsFile {
      fs.defaultFS = "hdfs://master1:8020"
      path = "/user/bdp-dwh/seatunnel-test/data/student-sink"
      file_format = "csv"
    }
}