env {
  parallelism = 1
  job.mode = "STREAMING"
}

source {
  Http {
    result_table_name = "http"
    url = "http://${IP}:8082/data-service/api/contrac_num"
    method = "GET"
    format = "json"
    content_field = "$.data.rowData.*"
    schema = {
      fields {
        contract_num = "string"
        contract_month = "string"
        purchase_way = "string"
        org_name = "string"
      }
    }
  }
}
sink {
  Console {
  }
}