env {
  parallelism = 1
  job.mode = "STREAMING"
  checkpoint.interval = 10000
}

source {
  MySQL-CDC {
    base-url = "jdbc:mysql://${IP}:3306/srt_cloud"
    username = "root"
    password = "${password}"
    table-names = ["srt_cloud.data_access"]
    startup.mode = "initial"
  }
}

sink {
  Console {
  }
}